*
# Begin files referenced by symlinks
!README.md
!AUTHORS
!INITIAL_AUTHORS.md
!INSTALL.md
!CeCILL-B
# End files referenced by symlinks

!_CoqProject

!Make
!Make.test-suite
!Makefile
!Makefile.common
!Makefile.test-suite.coq.local

!*.opam

!ssreflect
!fingroup
!algebra
!solvable
!field
!character
!all
!test_suite

!etc/utils/hierarchy.ml

**/*.d
**/*.vo
**/*.vok
**/*.vos
**/*.vio
**/*.cm*
**/*~
**/*.glob
**/*.aux
**/*.a
**/*.o
**/*#
**/Make*.coq
**/Make*.coq.bak
**/Make*.coq.conf
