*.d
*.vo
*.vio
*.vos
*.vok
*.cm*
*~
*.glob
*.aux
*.a
*.o
*.v.timing
Make*.coq
Make*.coq.bak
Make*.coq.conf
test_suite/test_hierarchy_all.v
test_suite/*.v.out.new
*#
htmldoc/mathcomp.*html
htmldoc/index*.*html
htmldoc/depend
htmldoc/depend.js
htmldoc/*.css
.DS_store
