*.d
*.vo
*.vio
*.vos
*.vok
*.cm*
*~
*.glob
*.aux
*.a
*.o
*.v.timing
Make*.coq
Make*.coq.bak
Make*.coq.conf
mathcomp/ssreflect/ssreflect.ml4
mathcomp/ssreflect/ssrmatching.ml4
mathcomp/ssreflect/ssrmatching.mli
mathcomp/ssreflect/ssrmatching.v
mathcomp/ssreflect/ssreflect_plugin.mllib
mathcomp/ssreflect/ssreflect_plugin.mlpack
mathcomp/ssreflect.ml4
mathcomp/ssrmatching.ml4
mathcomp/ssrmatching.mli
mathcomp/ssrmatching.v
mathcomp/ssreflect_plugin.mllib
mathcomp/ssreflect_plugin.mlpack
mathcomp/test_suite/test_hierarchy_all.v
mathcomp/test_suite/*.v.out.new
mathcomp-*.tar.gz
*#
htmldoc/mathcomp.*html
htmldoc/index*.*html
htmldoc/depend
htmldoc/depend.js
htmldoc/*.css
