*.d
*.vo
*.cm*
*~
*.glob
*.aux
*.a
*.o
Make*.coq
Make*.coq.bak
mathcomp/ssreflect/ssr*.ml4
mathcomp/ssreflect/ssr*.mli
mathcomp/ssreflect/ssreflect.mllib
mathcomp/ssreflect.ml4
mathcomp/ssrmatching.ml4
mathcomp/ssrmatching.mli
mathcomp/ssreflect.mllib
mathcomp-*.tar.gz
