Enrico Tassi <Enrico.Tassi@inria.fr>               <enrico.tassi@inria.fr>
Enrico Tassi <Enrico.Tassi@inria.fr>               <gares@fettunta.org>

Assia Mahboubi <Assia.Mahboubi@inria.fr>	<assia.mahboubi@inria.fr>

Cyril Cohen <Cyril.Cohen@inria.fr>	<barbichu@crans.org>
Cyril Cohen <Cyril.Cohen@inria.fr>	<cohen@crans.org>	
Cyril Cohen <Cyril.Cohen@inria.fr>      <CohenCyril@users.noreply.github.com>

Kazuhiko Sakaguchi <sakaguchi@coins.tsukuba.ac.jp> <pi8027@gmail.com>

Laurence Rideau <Laurence.Rideau@inriafr> <LaurenceRideau@users.noreply.github.com>

Yves Bertot <yves.bertot@inria.fr> <Yves.Bertot@inria.fr>

Reynald Affeldt <reynald.affeldt@aist.go.jp> <33154536+affeldt-aist@users.noreply.github.com>