Enrico Tassi <Enrico.Tassi@inria.fr>               <enrico.tassi@inria.fr>
Enrico Tassi <Enrico.Tassi@inria.fr>               <gares@fettunta.org>

Assia Mahboubi <Assia.Mahboubi@inria.fr>	<assia.mahboubi@inria.fr>

Cyril Cohen <Cyril.Cohen@inria.fr>	<barbichu@crans.org>
Cyril Cohen <Cyril.Cohen@inria.fr>	<cohen@crans.org>
Cyril Cohen <Cyril.Cohen@inria.fr>	<cyril.cohen@inria.fr>
Cyril Cohen <Cyril.Cohen@inria.fr>      <CohenCyril@users.noreply.github.com>

Kazuhiko Sakaguchi <sakaguchi@coins.tsukuba.ac.jp> <pi8027@gmail.com>

Laurence Rideau <Laurence.Rideau@inria.fr> <LaurenceRideau@users.noreply.github.com>

Yves Bertot <Yves.Bertot@inria.fr> <yves.bertot@inria.fr>

Reynald Affeldt <reynald.affeldt@aist.go.jp> <33154536+affeldt-aist@users.noreply.github.com>

Simon Boulier <simon.boulier@ens-rennes.fr>

Christian Doczkal <doczkal@ps.uni-saarland.de> <christian.doczkal@inria.fr>
Christian Doczkal <doczkal@ps.uni-saarland.de> <christian.doczkal@ens-lyon.fr>

Laurent Théry <Laurent.Thery@inria.fr> 	       <thery@sophia.inria.fr>
Laurent Théry <Laurent.Thery@inria.fr> 	       <Laurent.Thery@inria.fr> 

Pierre Jouvelot <pierre.jouvelot@mines-paristech.fr>

Evgenii Moiseenko <evg.moiseenko94@gmail.com>

Erik Martin-Dorel <erik.martin-dorel@irit.fr>     <erik@martin-dorel.org>

Florent Hivert <Florent.Hivert@lri.fr>   <hivert@users.noreply.github.com>

Gaetan Gilbert <gaetan.gilbert@inria.fr> <gaetan.gilbert@ens-lyon.fr>
Gaetan Gilbert <gaetan.gilbert@inria.fr> <gaetan.gilbert@skyskimmer.net>

Georges Gonthier <Georges.Gonthier@inria.fr> <georges.gonthier@inria.fr>
Georges Gonthier <Georges.Gonthier@inria.fr> <gonthier@microsoft.com>

Anton Trunov <anton.a.trunov@gmail.com> <anton.trunov@imdea.org>

Maxime Denes <Maxime.Denes@inria.fr> <mail@maximedenes.fr>
Maxime Denes <Maxime.Denes@inria.fr> <maxime.denes@fondation-inria.fr>

Matthieu Sozeau <MatthieuSozeau@inria.fr> <mattam@mattam.org>

Pierre Roux <pierre.roux@onera.fr> <pierre@roux01.fr>

Antonio Nikishaev <me@lelf.lu> <me+github@lelf.lu>

Julien Puydt <julien.puydt@gmail.com> <jpuydt@debian.org>

Matej Kosik <m4tej.kosik@gmail.com> <matej.kosik@inria.fr>

Quentin Vermande <quentin.vermande@ens.fr> <96025499+Tragicus@users.noreply.github.com>
